{% extends 'main.html' %}

{% block content %}

    <div class="container">
        <form action="{% url 'post-job' %}" method="POST">
            {% csrf_token %}
            <div class="row">
                <div id="title">
                    <label {% if form.title.errors %}class="text-danger"{% endif %} for="title">Job Title</label>
                    {{form.title}}
                </div>

                <div id="description">
                    <label {% if form.description.errors %}class="text-danger"{% endif %} for="description">Job Description</label>
                    {{form.description}}
                </div>

                <div id="pay">
                    <label {% if form.pay.errors %}class="text-danger"{% endif %} for="pay">Job Pay</label>
                    {{form.pay}}
                </div>
                <div id="rate">
                    <label {% if form.rate.errors %}class="text-danger"{% endif %} for="rate">Job Rate</label>
                    {{form.rate}}
                </div>

            </div>
            <input class="btn btn-success" type="submit">
        </form>

    </div>

    
    

{% endblock content %}