{% extends 'main.html' %}

{% block content %}

    <div class="container">
        <form action="" method="POST">
            {% csrf_token %}
            <div class="row">
                <div id="title"> 
                    <label for="title">Title</label>
                    {{form.title}}
                </div>

                <div id="description">
                    <label for="description"></label>
                    {{form.description}}
                </div>

                <div id="pay">
                    <label for="pay">Pay</label>
                    {{form.pay}}
                </div>
                <div id="rate">
                    <label for="rate">Rate</label>
                    {{form.rate}}
                </div>

            </div>
            <input type="submit">
        </form>

    </div>

    
    

{% endblock content %}