{% extends 'main.html' %}

{% block content %}
<div class="container">
    <div class="d-flex justify-content-center">
        <form action="" method="POST">
            {% csrf_token %}
            {% if request.user.is_staff %}
                <p class="text-center">Are you sure you want to delete "{{object}}"?</p>
                
                <input type="submit" class="btn btn-danger" value="Confirm">
            {% else %}
                <p>Staff only</p>
            {% endif %}
            
        </form>
    </div>
    
</div>

{% endblock content %}

