  <!-- Footer -->
  <footer class="text-center bg-green-900 padding-y-64">
    <a href="#top" class="button bg-green-200 text-green-900"><i class="fa fa-arrow-up" style="margin-right:16px"></i>To the top</a>
    <div class="font-xlarge text-green-100">
      <a href="https://www.facebook.com/sublimeimprovements"><i class="fa fa-facebook-official hover-opacity text-green-100"></i></a>
      {% comment %} <a href=""><i class="fa fa-instagram hover-opacity text-green-100"></i></a>
      <a href=""><i class="fa fa-snapchat hover-opacity text-green-100"></i></a>
      <a href=""><i class="fa fa-pinterest-p hover-opacity text-green-100"></i></a>
      <a href=""><i class="fa fa-twitter hover-opacity text-green-100"></i></a>
      <a href=""><i class="fa fa-linkedin hover-opacity text-green-100"></i></a> {% endcomment %}
    </div>
    <br>
    <br>
  </footer>
