{% extends "main.html" %}


{% block content %}

<div class="container">
    <div id="name">
        <label for="name">Client Name</label>
        <p>{{bill.user.fname}} {{bill.user.lname}}</p>
    </div>
    <div id="address">
        <label for="address">Address</label>
        <p>{{bill.user.street1}}
        {% if bill.user.street2 %}
            {{bill.user.street2}}
        {% endif %}
        {{bill.user.city}} {{bill.user.state}} {{bill.user.zipcode}}</p>
    </div>
</div>

<div class="container">
    <table class="table table-responsive table-hover">
        <tr>
            <th>Service</th>
            <th>Description</th>
            <th>Price</th>
        </tr>
        {% for service in services %}
        <tr>    
            <td>{{service.service}}</td>
            <td>{{service.description}}</td>
            <td>${{service.price}}</td>
        </tr>
        {% endfor %}
        <tr>
            <td><b>Total:</b></td>
            <td> </td>
            <td><b>${{bill.total_price}}</b></td>
        </tr>
    </table>
</div>

<hr>
<div class="container center">
    <h3>Add Service to Invoice</h3>
    <form method="POST" action="{% url 'add-service-bill' bill_id %}" enctype="multipart/form-data">
        
        {% csrf_token %}
        {{form.as_p}}

        <input type="submit" value="Save and Continue" name="save_and_continue"/>
        <input type="submit" value="Save and Add Another" name="save_and_add">
    </form>

</div>

{% endblock content %}