{% extends "main.html" %}


{% block content %}

<p>{{bill.user}}</p>
<p>{{bill.total_price}}</p>

{% for service in services %}

    <p>{{service.service}}</p>
    <p>{{service.description}}</p>
    <p>{{service.price}}</p>

{% endfor %}

<div class="container center">

    <form method="POST" action="{% url 'add-service-bill' bill_id %}" enctype="multipart/form-data">
        
        {% csrf_token %}
        {{form.as_p}}

        <input type="submit" value="Save and Continue" name="save_and_continue"/>
        <input type="submit" value="Save and Add Another" name="save_and_add">
    </form>

</div>

{% endblock content %}