{% extends "main.html" %}
{% load static %}

{% block content %}

{% if request.user.is_staff %}
<div class="container center">

  <h2 class='text-center'>Create New Invoice</h2>
  <form method="POST" enctype="application/x-www-form-urlencoded">
    {% csrf_token %}
    <div id="user">
      <label for="user">Client</label>
      {{ form.user }}
    </div>
    <div id="notes">
      <label for="note">Notes</label>
      {{ form.notes }}
    </div>

    <p hidden>{{form.isPaid}}</p>
    
    <input class="btn bg-green-400" type="submit" value="Create Invoice">
  </form>

</div>
{% endif %}


{% endblock content %}



