{% extends 'main.html' %}

{% block content %}
<a class="button bg-green-300 text-green-900" href="{% url 'services' %}">Services</a>
<div class="container justify-content-center">
    <div class="table-responsive">
        <table class="table table-hover">
            <tr>
                <th>Name</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        {% for category in categories %}
            <tr>
                <td>{{category.name}}</th>
                <td><a class="btn btn-info" href="{% url 'update-category' category.id %}?next=/category-list">Edit</a></td>
                <td><a class="btn btn-danger" href="{% url 'delete-category' category.id %}?next=/category-list">Delete</a></td>
            </tr>
        {% endfor %}
        </table>
    </div>
        
        
    <a class="button bg-green-300 text-green-900" href="{% url 'create-category' %}?next=/category-list">Create Category</a>
</div>


{% endblock content %}